@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Raleway);

body {
    font-family: 'Open Sans', sans-serif;
}

/* Navbar
 ======================================*/
.navbar-inverse {
    background-color: #333;
}
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {
    color: #FFF;
}
.navbar-brand, .navbar-inverse .navbar-brand:hover {
    background-color: #445878;
    font-size: 16px;
}
/* Page header
 ======================================*/
.page-header {
    margin-top: 21px;
}
/* Post
 ======================================*/
.post-list p {
    font-size: 16px;
}
.post-list a:link, .post-list a:visited {
    color: #333;
    text-decoration: underline;
}
.post-list h2 small {
    font-size: 50%;
}
.post-detail p {
    /*font-family: Georgia,"Times New Roman",serif;
    font-size: 20px;*/
}
/* Contact
 ======================================*/
.contact-view label {
    font-weight: normal;
}